<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <small>Erro ao salvar a tarefa!</small>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class:"border rounded mb-2" %>
  </div>

  <div>
    <%= form.label "Descrição", style: "display: block" %>
    <%= form.text_area :description, class:"border rounded mb-2" %>
  </div>

  <div>
    <%= form.submit "Salvar", class:"btn btn-primary mt-3"%>
  </div>
<% end %>
